@font-face {
    font-family: "Lexend-ExtraBold";
    src: url(./assets/fonts/Lexend-Variable.ttf);
    font-weight: 800;
}
@font-face {
    font-family: "Lexend-Regular";
    src: url(./assets/fonts/Lexend-Variable.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Lexend-Light";
    src: url(./assets/fonts/Lexend-Variable.ttf);
    font-weight: 200;
}

#opening_title_div {

    text-align: center;
    place-items: center;
    position: fixed;
    width: 100%;
    height: 100px;
    left: 0;
    top: 50%;
    transform:
        translateY(-50%);

}
#opening_title_header {

    font-family: "Lexend-ExtraBold";
    font-size: 150px;

    pointer-events: none;

    opacity: 0;
    
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    transition:
        top 0.5s cubic-bezier(.17,.38,.2,.99),
        opacity 0.5s cubic-bezier(.17,.38,.2,.99);
    
}
#opening_title_body {

    font-family: "Lexend-Light";
    font-size: 40px;

    opacity: 0;

    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);

    transition:
        bottom 0.5s cubic-bezier(.17,.38,.2,.99),
        opacity 0.5s cubic-bezier(.88,.23,.46,1);

}
#opening_title_seperator_div {
    position: fixed;
    width: 100%;
    height: 100%;
}
#opening_title_seperator {

    width: 0px;
    height: 2px;
    background-color: black;

    position: fixed;
    top: calc(50% + 50px);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    transition:
        width 1.5s cubic-bezier(.17,.38,.2,.99);

}